.full {
  background: url(images/homebg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.full2 {
  background: url(images/homebg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.thumbnail {   
  padding: 15px; 
  border: 0px;  
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #ff8a44;
    color: white;
}

.author-image{
  background: #dddddd;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: left;
}
.author-name{
  float: left;
  margin: 5px;
  margin-left: 15px;
}
.author-name>h4{
  margin: 5px 0px;
}
.author-time{
  font-size: 11px;
  font-style: italic;
  
}
.comment{
  margin-bottom: 35px;
}
.comment-content{
  clear: both;
  margin-left: 65px;
  font-size: 16px;

}
.comments-title>span{
  margin-right: 15px;

}

